body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 60px;
    background-color: rgb(32, 32, 54);
    color: white;
    display: flex;
    justify-content: space-between;
}

.container-1 {
    background-color: rgb(32, 32, 54);
    color: white;
    display: flex;
}

.container-2 {
   background-color: white;
}

.container-3 {
    background-color: rgb(107, 102, 102);
}

.container-4 {
    background-color: white;
}

.footer {
    height: 60px;
    background-color: rgb(32, 32, 54);
}